* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 50px;
    padding: 0 100px 0 100px; /*this can be removed */
    display: flex;
    justify-content: center;
}

.nav-content {
    width: 900px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    margin:0;
    padding: 15px 0;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

.nav-logo {
    margin-right: auto;
    font-weight: bold;
    font-size:24px;
    color:#F9FAF8

}

.nav-link {
    margin: 0 10px;
    color: #E5E7EB;
    font-size: 18px;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px 60px;
    gap: 30px;
    background-color:#1F2937;
}

.header-container {
    width: 900px;
    display: flex;
    gap: 30px;
}

.header-content {
flex: 1 1 100px;
}

.header-content h2{
    color:#f9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin:0px;
    padding: 0;
}

.header-content p{
    margin: 10px 0;
    font-size: 18px;
    color: #E5E7EB;
}

.header-image {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;

}

header .header-content,
header .header-image {
    flex: 1 1 100px;
}

header button {
    background-color:#3882f6;
    color:#F9FAF8;
    padding: 8px 30px;
    border-radius: 5px;
    border: 0px solid transparent;
}

.information {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 100px;
    height: 400px;

}

.information h2 {
    font-size: 36px;
    font-weight:bold;
    color:#1F2937;
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.tile-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

.tile-square {
    width: 150px;
    height:150px;
    border: solid 4px #3882f6;
    border-radius: 10px;

}

.tile-text {
    padding: 10px 0 0 0;
    color:#1F2937;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 0 100px;
    height: 400px;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0 auto 0;
    width: 700px;
}

.quote-text {
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0px;
}

.quote-author {
    margin-left: auto;
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color:#1F2937;
}

.quote p {
    margin: 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
}

.footer-blue {
    width: 800px;
    height: 100px;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
}

.footer-text-header {
    color: #f9FAF8;
    font-size: 20px;

}

.footer-text-text {
    color: #E5E7EB;
    
}

.button {
    margin-left: auto;
}

.sign-up-button {
    padding: 5px 30px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 4px;

}

.copywright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
}

.copywright-container {
    width: 800px;
    display: flex;
    justify-content: center;
}

.copywright-text {
    color: #F9FAF8;
}